# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.log
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock file
.terraform.lock.hcl

# Local .terraform directories
.terraformrc
.terraform.d/

# Ignore Git internal structure files
/config
/HEAD
/description
/hooks/
/info/
/objects/
/packed-refs
/refs/

# Ignore GitHub Actions runner files
/actions-runner/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp
*.bak
*.tmp
*.DS_Store

# Ignore other CI/CD tool configurations if not needed
/.github/
.gitlab-ci.yml
.circleci/
.jenkins/
